/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*--------------------*
h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  header {
    text-align: center;
    background-color: darkblue;
    height: 20px;
    
    padding: 20px;
    margin-bottom: 30px;
  }
  header a {
    font-size: 20px;
    text-transform: uppercase;
    margin: 16px;
    text-decoration: none;
  }
  .green {
    color: #25a50b;
  }
  .white {
    color: white;
  }
  hr {
    width: 500px;
    border-style: dashed;
    border-color: gray;
    margin: 32px auto;
  }
  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
  }
  .box {
    width: 200px;
    height: 180px;
    background-color: #99d8ca;
    margin: 0 auto;
    border: 20px solid #5873e2;
    outline: 10px solid #0d1430;
    box-shadow: 0 0 0 30px #90ffa9;
    border-radius: 0.5%;
  }
  .color-cont {
    text-align: center;
    margin-top: 60px;
  }
  .circle {
    width: 20px;
    height: 20px;
    background-color: #99d8ca;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px;
    border: 2px solid black;
  }
  .padding {
    background-color: #0d1430;
  }
  .border {
    background-color: #90ffa9;
  }
  .margin {
    background-color: #5873e2;
  }
  .color{
    margin: 0 16px;
    display: inline-block;
  }
  p {
    text-align: center;
    font-size: 24px;
  }
  .container {
    width: 660px;
    border: 2px solid gray;
    margin: 24px auto;
    font-size: 0;
  }
  .child-box {
    width: 200px;
    height: 180px;
    margin: 10px;
    background-color: gray;
    display: inline-block;
  }
  .border {
    border: 2px solid black;
  }
  .border-box {
    box-sizing: border-box;
  }